<form method="post" action="{{ path('membre_delete', {'id': membre.id}) }}" onsubmit="return confirm('Voulez vous supprimer?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ membre.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
