{% extends 'accueil.html.twig' %}

{% block title %}New TypeMateriel{% endblock %}

{% block body %}

    {{ include('type_materiel/_form.html.twig') }}

    <a href="{{ path('type_materiel_index') }}">back to list</a>
{% endblock %}
